# Environment variables that are used in the docker-compose.yml AND spring boot configuration
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=symphonia
POSTGRES_PASSWORD=symphonia
POSTGRES_DB=symphonia

JWT_SECRET=change-moi-avec-une-longue-chaine-secrete-aleatoire-en-production
JWT_EXPIRATION=86400000

CORS_ORIGINS=https://51.210.4.227
APP_FRONTEND_URL=https://51.210.4.227
